version: '3.9'

services:
  postgres-db:
    image: postgres:latest
    container_name: postgres-db
    environment:
      POSTGRES_DB: dimoll
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Zxcvbnm
    ports:
      - "5433:5432"
    networks:
      - crud-network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - crud-network

  dimoll-backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9235:1930"
    env_file:
      - .env
    depends_on:
      - postgres-db
      - redis
    networks:
      - crud-network

networks:
  crud-network:
    driver: bridge


